* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    font-style: normal;
    background-color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.btn:focus,
button.btn:focus,
a:focus,
.form-control:focus,
.form-select:focus {
    outline: none;
    box-shadow: none;
}

.pBlock {
    padding-block: 60px;
}

.container {
    max-width: 1180px;
}

.custom-row {
    margin-inline: -0.25rem !important;
}

.ps-1 {
    padding-left: 12px !important
}

.pe-1 {
    padding-right: 12px !important
}

/* Css for Header */
header .custom-btn {
    margin-left: 24px;
}

header {
    padding: 10px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

nav.navbar {
    align-items: center;
    padding-block: 0px;
}

a.navbar-brand {
    padding-block: 0px;
    margin-right: 0px;
    display: inline-block;
}

a.navbar-brand img {
    height: 38px;
}

a.nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #234CC0;
    padding: 0px !important;
}

ul.navbar-nav {
    gap: 24px;
}

a.nav-link.active,
a.nav-link:hover {
    color: #F85149;
}

a.dropdown-item {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #234CC0;
}

.custom-btn {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #49499A;
    padding: 8px 12px;
    border-radius: 2px;
    line-height: 20px;
    display: inline-block;
}

.custom-btn:hover {
    background-color: #F85149;
    color: #fff;
}


/* Banner css */
.banner-content h1 {
    font-weight: 700;
    font-size: 55px;
    letter-spacing: -1.5px;
    text-transform: capitalize;
    color: #EE483D;
    line-height: 71px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
}

.banner-content h1 span {
    font-weight: 600;
    font-size: 50px;
    line-height: 53px;
    letter-spacing: -1.5px;
    text-transform: capitalize;
    color: #49499A;
}

.banner-content p {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #49499A;
    margin-bottom: 24px;
}

.banner-content p span {
    color: #EE483D;
}


/* Bussiness css */
.section-heading h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #49499A;
    margin-bottom: 60px;
}

.bussiness-card {
    background-color: #fff;
    padding: 32px;
    box-shadow: 0px 0px 30px rgba(31, 45, 61, 0.15);
    border-radius: 10px;
    margin-bottom: 24px;
    min-height: 300px;
}

span.icon {
    display: inline-flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 72, 61, 0.1);
    border-radius: 50%;
    margin-bottom: 20px;
}

span.icon img {
    height: 39px;
}

.bussiness-card h3 {
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    color: #EE483D;
    line-height: 24px;
    margin-bottom: 5px;
}

.bussiness-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #49499A;
    margin-bottom: 20px;
}

.cardLink {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #EE483D;
    display: inline-flex;
    gap: 6px;
    align-items: center;
}

.cardLink:hover {
    color: #49499A;
}

.linkIcon {
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
}


/* Css for industries Section */
.industry-content {
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(31, 45, 61, 0.25);
    border-radius: 10px;
    margin-bottom: 24px;
}

.industry-detail h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 0px;
    padding: 0px 16px;
    background-color: #49499A;
    height: 56px;
    display: flex;
    align-items: center;
}

.industry-detail-content {
    padding: 12px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.industry-detail-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #EE483D;
    margin-bottom: 8px;
}

.industry-detail-content .cardLink {
    color: #49499A;
}

.industry-image img {
    width: 100%;
    object-fit: cover;
}


/* Css for catogries slider */

.categories-box {
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(31, 45, 61, 0.25);
    border-radius: 10px;
    padding: 12px;
    margin-block: 24px;
    margin-inline: 12px;
}

.category-image {
    margin-bottom: 46px;
    background-color: #E6EDED;
    border-radius: 8px;
}

.category-image img {
    width: 100%;
    height: 215px;
    border-radius: 8px;
}

.categoryImage-content h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #49499A;
    margin-bottom: 30px;
}

.categoryImage-content {
    min-height: 60px;
}

.viewAll .custom-btn {
    padding: 16px 31px;
    display: inline-flex;
    gap: 15px;
    text-transform: uppercase;
}

.viewAll {
    margin-top: 55px;
}

/* technology-wrappper css */
.technology-box h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #EE483D;
    margin-bottom: 24px;
}

.technology-icon img {
    height: 63px;
}

.technology-wrapper .pe-1 {
    padding-right: 10px !important;
}

.technology-wrapper .ps-1 {
    padding-left: 10px !important;
}

.technology-icon {
    margin-bottom: 10px;
}

/* Service css */
.serviceIcon {
    width: 52px;
    height: 52px;
    background-color: rgba(238, 72, 61, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceIcon img {
    height: 26px;
}

.serviceDetail h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #EE483D;
    margin-bottom: 4px;
}

.serviceDetail p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: #49499A;
    margin-bottom: 0px;
}

.detailBtn,
.detailBtn:hover {
    color: #EE483D;
}

.service-list ul li {
    display: flex;
    align-items: center;
}

.serviceDetail {
    width: calc(100% - 52px);
    margin-left: 27px;
}

.service-list ul li+li {
    margin-top: 8px;
}

.service-list ul {
    margin-bottom: 30px;
}

/* Consulant css */
.consultant-wrapper {
    background-image: url(../images/manbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.consultantForm {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    position: relative;
}

.consultantForm h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #49499A;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.consultantForm h2 span {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #EE483D;
    margin-bottom: 30px;
}

.consultant-content h2 {
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.consultant-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.consultant-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.consultantForm .form-control {
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 100px;
    height: 48px;
    text-transform: capitalize;
    padding: 14px 20px;
    padding-right: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.input-group .form-control {
    width: calc(100% - 72px);
    padding: 0px;
    padding-left: 12px;
    border: 0px;
    background-color: transparent;
    height: 100%;
}

.countryCode {
    display: inline-flex;
    width: 72px;
    height: 100%;
    align-items: center;
    padding-right: 7px;
    border-right: 1px solid #DDDDDD;
}

.countryCode .form-select {
    padding: 0px;
    border: 0px;
    background-color: transparent;
}

.consultantForm .input-group {
    height: 48px;
    align-items: center;
    padding-left: 20px;
    padding-right: 0px;
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 100px;
}

.form-group textarea.form-control {
    resize: none;
    height: 100px;
    border-radius: 20px;
}

.consultantForm form .col-12+.col-12 .form-group {
    margin-top: 12px;
}

button.submit {
    width: 100%;
    height: 54px;
    background: linear-gradient(180deg, #464697 0%, #1E1E54 100%);
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 0px;
    border-radius: 100px;
    margin-top: 28px;
}

button.submit:hover {
    color: #fff;
}

.man-icon {
    position: absolute;
    bottom: 4px;
    right: -84px;
}

/* footer css */

.footer-logo img {
    height: 61px;
}

.footer-logo {
    margin-bottom: 17px;
}

.footer-logoPortion h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #EE483D;
    margin-bottom: 21px;
    padding-left: 12px;
}

.footer-icon {
    color: #EE483D;
    font-size: 20px;
    display: inline-block;
}

.footerContact {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #49499A;
    display: flex;
    gap: 16px;
    align-items: center;
}

.footerContact:hover {
    color: #EE483D;
}

.footer-logoPortion ul li+li {
    margin-top: 15px;
}

.footerContent h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #EE483D;
    margin-bottom: 20px;
}

.footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-transform: capitalize;
    color: #49499A;
}

.footer-link:hover {
    color: #EE483D;
}

.footerContent ul li+li {
    margin-top: 10px;
}

.srviceLink::before {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-right: 6px;
}

.srviceLink {
    display: inline-flex;
    align-items: center;
}

.footer-form h2 {
    margin-bottom: 16px;
}

.footer-form .input-group {
    border: 1px solid #49499A;
    border-radius: 6px;
    height: 42px;
    margin-bottom: 21px;
}

.footer-form .input-group .form-control {
    border-radius: 6px 0px 0px 6px;
}

.footer-form .input-group span.input-group-text {
    background-color: #49499A;
    border-radius: 0px 5px 5px 0px !important;
    border: 0px;
    margin-left: 0px;
    height: 100%;
    padding: 0px 15px !important;
    width: initial;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

.footer-form ul {
    justify-content: center;
}

.footer-form ul li+li {
    margin-top: 0px;
    margin-left: 27px;
}

.socialLink {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
}

.socialLink:hover {
    color: #fff;
}

.faceBook {
    background-color: #039BE5;
}

.linkeDin {
    background-color: #0078D4;
}

.youTube {
    background-color: #FF3D00;
}

.twitter {
    background-color: #03A9F4;
}

.bottom-footer {
    margin-top: 60px;
}

.bottom-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-transform: capitalize;
    color: #49499A;
}

.bottom-link:hover,
.copyRight p span {
    color: #EE483D;
}

.bottom-menuList ul li+li {
    margin-left: 20px;
}

.copyRight p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-transform: capitalize;
    color: #3F62C8;
    margin-bottom: 0px;
}